
.About-Left{
    margin-right: 8rem !important;
}

.about-list{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

.about-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 3rem;
}

.about-icon{
    display: inline-block;
    margin-right: 2rem;
}

.ai-right{
    display: inline-block;
}

.ai-title{
    word-wrap: 5px;
}

.ai-text{
    word-wrap: 3px;
    line-height: 20px !important;
    padding-top: 2rem;
}


.AboutPage{
    padding-top:5rem;
    height: 100vh;
    background-color: var(--text)
}

.About-Right{
    width: 70% !important;
}