@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


@import url(mainpage.css);
@import url(about.css);
@import url(navbar.css);
@import url(keyframes.css);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root {
    --primary:#812EE6;
    --secondary:#9E88B2;
    --dark:#201926;
    --light:#FEF7FF;
    --text:#0E0B11;
    --h-primary:#5614A6;
    --h-secondary:#7F5B9F;
    --tert:#1A1A1A;
}

body{
    background-color: var(--light);
    overflow-x: hidden;
}
