@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary:#812EE6;
    --secondary:#9E88B2;
    --dark:#201926;
    --light:#FEF7FF;
    --text:#0E0B11;
    --h-primary:#5614A6;
    --h-secondary:#7F5B9F;
    --tert:#1A1A1A;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    width:700px;
    height: 70px;
    background-color: var(--primary);
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}


.navigation ul{
    display: flex;
    width: 350px;

}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: all .5s;
    color: var(--light);
}


.navigation ul li.active a .icon{
    transform: translateY(-35px);
}


.navigation ul li a .text{
    position: absolute;
    color: var(--light);
    font-weight: 400;
    font-size: .75rem;
    padding-top: 1rem;
    letter-spacing: .05em;
    transition: all .5s;
    opacity: 0;
    transform: translateY(30px);
}


.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(5px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background-color: var(--primary);
    border-radius: 100%;
    border: 4px solid #fff;
    transition: all .5s;
}

.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}


.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}



.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}


.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}


.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}


.otherLink{
    width: 20px;
    margin: 0 .5rem;
    cursor: pointer;
}

.mainLogo{
    width: 50px;
}
