@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


@import url(mainpage.css);
@import url(about.css);
@import url(navbar.css);
@import url(keyframes.css);
@import url(skills.css);
@import url(portfolio.css);
@import url(contact.css);
@import url(mobile.css);




*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root {
    --primary:#F7CCAC;
    --secondary:#C69B7B;
    --dark:#3A3845;
    --light:#FEF7FF;
    --text:#1d1c23;
    --h-primary:#ad8f78;
    --h-secondary:#8b6d56;
    --tert:#826F66;
    --linear-bg: linear-gradient(to bottom, #3a3845, #32313c, #2b2a34, #24232b, #1d1c23);

/* 
    --primary:#F7CCAC;
    --secondary:#9E88B2;
    --dark:#201926;
    --light:#FEF7FF;
    --text:#0E0B11;
    --h-primary:#5614A6;
    --h-secondary:#7F5B9F;
    --tert:#1A1A1A; */
}

body{
    background-color: var(--dark);
    overflow-x: hidden;
}

.MainTitle{
    margin-bottom:8rem;
}

.Mt-Top{
    font-size:48px;
    font-weight: 500;
    text-align: center;
    color: #ffff;
    position: relative;
}

.Mt-Top span{
    color: var(--primary);
    
}

.Mt-Top::after{
    width:30px;
    height: 100%;
    background-color:red;
}

.Mt-Bottom{
    font-size: 20px;
    font-weight: 300;
    color: var(--secondary);
    text-align: center;
}



.reveal{
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }



::-webkit-scrollbar {
	width: 12px; /*genislik 10px olsun*/
	background-color:#61606a;
    transition: all .2s; /*scrollbar arkaplan renk*/
}
::-webkit-scrollbar-thumb {
	background-color: var(--light); /*scrollbar renk*/
	border-radius:20px; /*oval olsun*/
}
::-webkit-scrollbar-thumb:hover { /*tiklandiginda*/
	background-color: #7d7d7d;
}