.repo-item{
    display: inline-flex;
    justify-content:space-around;
    align-items: flex-start;
    flex-direction: row;
    transition: all .15s ease-in-out;
    cursor: pointer;
    width: 500px;
    position: relative;
    padding: 1.2rem 2.4rem;
}


.repo-item:hover{
    background-color: var(--dark);
}
.ri-top{
    display: block;
    text-decoration: none;
    width:inherit;
    z-index: 100;
    cursor: pointer;
    text-align: left;
}

.repo-desc{
    color:var(--light) !important;
    font-size: 1rem !important;
}

.repo-name{
    color:var(--light) !important;
    padding-left: 2rem;
}


.PortfolioPage{
    /* margin-top: 10rem; */
    padding-top: 5rem;
    height: 100vh;
    background-color: var(--text);
}


.My-Repos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 400px;
    overflow-y:scroll;
    overflow-x: hidden;
    padding: 3rem 8rem;
}

.port-img{
    width:500px;
    padding-left: 15rem;
}