
.SkillsPart{
    padding-top:5rem !important;
    height: 100vh;
}


.Skill-Items{
    margin-top: 5rem !important;
}

.SkillItem{
    width: 14rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    position: relative;
    transition: all .4s;
    border-radius: 2px;
    transition: all .4s;
}

.SkillItem-Hover{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--h-primary);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s !important;
    z-index: 100;
}
.SH-text{
    color: #fff !important;
    cursor:default;
}

.SkillItem:hover{
    transform: translateY(-8px);
    box-shadow: 0 5px 10px 0 var(--h-secondary);
}


.SkillItem:hover .SkillItem-Hover{
    opacity:1;
}